{% extends "base.html" %} {% block title %}
<title>Edit Task -Taskmate</title>
{% endblock title %} 

{% block content %}
<div class="container">
</br>

{% if task_obj.manager == request.user%}
 <form method="POST" class="row">
    {% csrf_token %}
    <div class="col-lg-2">
      <label></label>
    </div>

    <div class="col-lg-6">
      <input
        type="text"
        class="form-control"
        name="task"
        placeholder="{{task_obj.task}}"
        ,
        value="{{task_obj.task}}"
      />
    </div>

    <div class="col-lg-1">
        <input
          type="hidden"          
          name="done"
          value="{{task_obj.done}}"
        />
      </div>

    <div class="col-lg-2">
      <button type="submit" class="btn btn-primary col">Update Task</button>
    </div>
  </form>

  {%else%}
  <p> User Restricted </p>

  {% endif %}
</div>
{% endblock content %}
